@media screen and (max-width: 750px) {
    .menu {
      display: block;
    }
  }

  @media screen and (max-width: 750px) {
    .menu-nav {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 750px) {
    .menu .images {
      justify-content: center;
    }
  }
  @media screen and (max-width: 750px) {
    .menu .images .image-link {
      width: 40vw;
      margin: 0 12px 12px 0;
    }
  }
  @media screen and (max-width: 1200px) {
    .inner-container {
      padding: 80px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .about-section {
      background-size: 100%;
      padding: 100px 40px;
    }
    .inner-container {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    body{
      margin: 0;
      padding: 0;
    }
    .about-section {
      padding: 0;
    }
   
    .inner-container {
      padding: 60px;
    }
    header{
      flex-direction: column;
    }
    #courses img{
      border: 6px solid white;
    }

    #pic{
      width:50vw;
      height: 50vh;
      
    }
    #heading{
      padding-top: 19rem;
      margin: 0 10%;
    }

    .myshow{
      display: none !important;

    }
    .myhide{
      display: flex !important;
    }
    .cont{
      margin-right: 6rem;
    }
  }

  @media (max-width: 1100px) {
    .gallary .modal .previous,
    .gallary .modal .next {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    .gallary {
      padding: 0;
    } .gallary .modal .modal-content {
        width: 96%;
        height: auto;
        margin-top: 2rem;
      }
    }

    @media (max-width: 500px){
        html{
            font-size: 50%;
        }
      }    
      
      @media(min-width: 501px) and (max-width: 768px){
        html{
        font-size: 50%;
        }
      }   

      @media (max-width: 500px) {
        html {
          font-size: 50%;
        }
      }
      
      @media (min-width: 501px) and (max-width: 768px) {
        html {
          font-size: 50%;
        }
      }
      
      /* Bugging */
      
      @media screen and (max-width: 1300px) {
        li,
        a,
        button {
          font-size: 1rem;
          /* font-weight: bold; */
        }
      
        .btn {
          margin: 15px;
        }
        .btn-one {
          width: 150px;
          height: 40px;
        }
      
        .btn-one span {
          font-size: 15px;
        }
      
        .message .btn-one {
          width: 80%;
        }
      
        ::placeholder {
          font-size: 1rem;
        }
        .message .message-text {
          padding: 0px;
        }
      }
      
      @media screen and (max-width: 1000px) {
        li,
        a,
        button {
          font-size: 0.8rem;
          /* font-weight: bold; */
        }
      
        .btn {
          margin: 12px;
        }
        .btn-one {
          width: 120px;
          height: 35px;
        }
      
        .btn-one span {
          font-size: 12px;
        }
      
        .message .btn-one {
          width: 80%;
        }
      
        ::placeholder {
          font-size: 0.8rem;
        }
        .message .message-text {
          padding: 0px;
          /* flex-basis: 50%; */
        }
      }
      @media screen and (max-width: 800px) {
        li,
        a,
        button {
          font-size: 0.8rem;
          /* font-weight: bold; */
        }
      
        .btn {
          margin: 12px;
        }
        .btn-one {
          width: 120px;
          height: 35px;
        }
      
        .btn-one span {
          font-size: 12px;
        }
      
        .message .btn-one {
          width: 80%;
        }
      
        ::placeholder {
          font-size: 0.8rem;
        }
        .message .message-text {
          padding: 0px;
          /* flex-basis: 50%; */
        }
      }
      
      @media screen and (max-width: 600px) {
        .message {
          flex-direction: column;
        }
      }
      